<section class="section section-top section-full">

<!-- Cover -->
<div class="bg-cover"></div>

<!-- Overlay -->
<div class="bg-overlay"></div>

<!-- Triangles -->
<div class="bg-triangle bg-triangle-light bg-triangle-bottom bg-triangle-left"></div>
<div class="bg-triangle bg-triangle-light bg-triangle-bottom bg-triangle-right"></div>

<!-- Content -->
<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="main-part-center-home">
        <div class="col-md-8 col-lg-7">
            <h2 class="title-home-page">RentCo.</h2>
            <p class="p-text-home-page">Calculer la rentabilité d'un bien immobilié</p>
        </div>
        <div class="col-md-8 col-lg-7">
        <%= render 'form_sign_in' %>
        </div>
        
    </div>
  </div> <!-- / .row -->
</div> <!-- / .container -->

</section>