<div id="index_case">
	<section class="section section-top section-full">
		<div class="bg-overlay bg-dark bg"></div>
		<div class="bg-triangle bg-triangle-light bg-triangle-bottom bg-triangle-left bg"></div>
		<div class="bg-triangle bg-triangle-light bg-triangle-bottom bg-triangle-right bg"></div>
		<div class="container">
			<hr class="margin-title">
			<% if current_user.administrator? %>
				<h1 class="text-center text-white">Les dossiers</h1>
			<%else%>
				<h1 class="text-center text-white">Mes dossiers</h1>
			<%end%>
			<hr class="margin-title">
			<%= render "flash_messages" %>
			<%= render 'cases' %>
		</div>
	</section>
</div>	
