<body  style="margin-top: 10em;">
  <h1>Cases Index</h1>
  	<div style="margin-left: 20%; margin-right: 20%; display: flex; flex-wrap: wrap">
  		<% @cases.each do |c| %>
  			<div class="card" style="width: 18rem; margin: 2px 2px 2px 2px;">
  	  		<div class="card-body">
  	        <h5 class="card-title"><%= c.title %></h5>
  	        <h6 class="card-subtitle mb-2 text-muted"><%= c.visit_date %></h6>
  	        <p class="card-text"><%= c.city %></p>
  	        <%= link_to "Voir le dossier", case_path(c.id),class: "card-link"%>
  	      </div>
  	    </div>
  	  <% end %>
  	</div>
</body>
