<body>
  <div class="card" style="margin-top: 8em;">
    <table>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.email %></td>
            <td><%= user.approved %></td>
            <td><%= link_to "Confirmer", user_path(user.id), method: 'PUT' %></td>
          </tr>
        <% end %>
    </table>
  </div>
</body>