<section class="section section-top section-full">
<div class="bg-overlay bg-dark"></div>
  <div class="bg-triangle bg-triangle-light bg-triangle-bottom bg-triangle-left"></div>
  <div class="bg-triangle bg-triangle-light bg-triangle-bottom bg-triangle-right"></div>
  <div class="container">
  <div class="card bg-white" style="margin-top: 8em;">
    <table>
        <% @users.each do |user| %>
          <tr>
            <td><%=link_to "#{user.email}", user_path(user.id) %></td>
            <td><%= user.approved %></td>
            <td><%= link_to "Confirmer", users_path(user.id), method: :put %></td>
          </tr>
        <% end %>
    </table>
  </div>
    </div>

</section>