<p>Votre compte a été désactivé par l'administrateur de l'application Rent-Co.</p>
<br>
<p> Pour plus d'informations venez sur:
<%= link_to "RentCo", "https://rent-co.herokuapp.com/users/sign_in"%>
</p>
