<p><%= @email %> s'est enregistré sur l'application Rent-Co</p>

<p>Veuillez accéder à votre journal de bord afin de valider ou non sa création de compte.</p>

<%= link_to "Rent-Co", "https://rent-co.herokuapp.com/users/sign_in"%>
