/* COMMON PART */

/* NAVBAR */




/* FOOTER si existant */




/* STYLE BOUTON */



/* PAGE CONNEXION SESSION NEW */

#sessions_new {
    background-color:var(--gray-dark);
}

#session_new .card-body .text-muted {
    margin-bottom: -50px;
}

#boxid {
    margin-top: 15px;
}

#sessions_new .btn-checkbox-login {
    margin-top:15px;
}

#sessions_new .main-part-center-home .title-home-page {
    font-size:40px;
    color:white;
}

#sessions_new .container-fluid {
    margin-bottom: 17px;
}

#sessions_new .main-part-center-home .p-text-home-page {
    color:white;
    margin-bottom:50px;
}

#session_new .bg {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
}

#session_new-see-password{
    padding-top: 12px;
}

/* PAGE PROFIL USERS SHOW */

#section-user-show {
    min-height:100vh;
}

#user_show .container  {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 4em;
}

#user_show .card {
    background-size: cover;
    background-color: whitesmoke;
    width: 50rem;
}

#user_show .list-group {
    margin-top: -25px;
}

#user_show .row-profile-btn {
    display: flex;
    justify-content: space-evenly;
}

#user_show .profile-btn {
    padding-bottom: 1.5em;
    margin-top: 1.5em;
}

#user_show .card-header {
    height: 100px;
    background-color: var(--dark);
    margin: -1px;
    color: white;
}

#user_show .card-title {
    margin-top: 20px;
    color: white;
}

#user_show .list-group {
    margin-top: 15px;
}

#user_show .custom-title {
    width: 100%;
}

/* PAGE EDIT REGISTRATION EDIT */

#edit .container {
    margin-top: -60px;
}

#edit .card {
    background-color: white;
}

#edit .align-center {
    align-content: center ;  
}


#edit {
    padding-right: 120px;
    padding-top: 200px;
}

#edit .padding-back-button {
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 5px;
}

#edit .padding-edit-button {
    padding-top: 15px;
}

#edit .padding-title {
    margin-bottom: -30px;
}

#edit .bg {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
}

/* PAGE FORGOT PASSWORD EMAIL SENDER */

#forgot_password_email .card {
    background-color: white;
}


#forgot_password_email .container  {
    height: 975px; 
    width: 100vw;
}
#forgot_password_email p {
    font-size: 14px;
}

#forgot_password_email h3 {
    margin-bottom: 0px;
}

#forgot_password_email .col  {
    height: 975px;
    display: flex;
   justify-content: center;
   align-items: center;
}

#forgot_password_email .card  {
    display: flex; 
    width: 600px;
    height: auto;
}

#forgot_password_email #card-body-2  {
    display: flex;
    justify-content: center;
}



#forgot_password_email .second-row  {
    display: flex;
    align-items: end;
}

#forgot_password_email .card-header{
    padding-bottom: 0px;
    padding-top: 35px;
}

#forgot_password_email .form-group {
    margin-bottom: 0px;
}

#forgot_password_email #row-back {
    margin-left: 0px;
    margin-right: 0px; 
    margin: 10px;
}

#forgot_password .container {
    height: 979px;
    max-height: 979px;
}

#forgot_password #col-1{
    height: 979px;
    max-height: 979px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#forgot_password #col-2 {
    padding-left: 0px;
    padding-right: 0px;
    height: 80px;
    display: flex; 
    align-items: end;
}

#forgot_password #col-3 {
    padding: inherit;
    display: flex;
    margin-left: 15px;
}

#forgot_password .card{
    width: 687px;
    background-color: whitesmoke;
}

#forgot_password .card-header{
    padding-top: 41px;
}

#forgot_password #card-body-1 {
    padding-left: 5px;
    padding-bottom: 10px;
}

#forgot_password #row-1 {
    margin-left: 0px; 
    margin-right: 0px; 
    justify-content: space-around;
    padding-bottom: 21px;
}

#forgot_password #row-2 {
    margin-left: 0px; 
    margin-right: 0px
}

/* PAGE CASE INDEX */

#index-card-top{
    display: flex;
    justify-content:space-between;
}

#index-renta-light{
    width: 50%;
}

#index_case .bg {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
}

#index_case .big-hr {
    height: 5px;
    background-color: var(--primary);
}

#index_case .card {
    background-color: whitesmoke;
}

#index_case .empty-index {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

#index_case .empty {
    font-size: 15px;
    margin-bottom: 20px;
}

#index_case .muted-title {
    margin-bottom: -50px;
    margin-top: -50px;
    font-size: 15px;
}


#index_case .margin {
    margin-top: 10px;
    font-size: 14px;
}

#index_case .col-md-1 {
    margin-top: 10px;
    margin-right: 10px;
}


#index_case .btn {
    width: 100%;
}

#index_case .card-header-full {
    height: 10px;
    margin-top: -20px;
    font-size: 11px; 
    background-color: var(--dark); 
    color: white
}

#index_case .card-header-empty {
    height: 10px;
    margin-top: -20px;
    font-size: 11px; 
    background-color: var(--dark); 
    color: white
}

#index_case h1 {
    margin-top: -50px;
    margin-bottom: 50px;

}

#index_case hr.margin-title {
    margin-top: -50px;
    margin-bottom: 50px;
    background-color: var(--primary);
    width: 20%;
}

#index_case #muted {
    margin-bottom: -20px;
    font-size: 10px;
}

#index_case .picture {
    height: 5%;
}

#index_case .size {
    font-size: 8px;
}

#index_case .card-top-margin {
    padding-top: 4px;
    padding-bottom: 20px;
}

#index_case .btn-outline-primary:hover {
    background-color: var(--primary);
    color: white;
}

#index_case .btn-outline-secondary:hover {
    background-color: var(--secondary);
    color: white ;
}

#index_case .btn-outline-secondary {
    color: var(--dark);
}

#index_case .btn-outline-danger:hover {
    background-color: var(--danger);
    color: white;
}

#index_case .row-inline {
    display: flex;
    flex-wrap: wrap;
    margin-right: -1.5rem;
    margin-left: -1.5rem;
}

#index_case .row-inline .first-row {
    -webkit-box-flex: 0;
    flex: 0 0 10.33333%;
    max-width: 83.33333%;
}

#index_case .row-inline .first-row a {
    transition: all 0.4s ease;
}

#index_case .row-inline .first-row a:hover, #index_case .row-inline .first-row a:active {
    color:var(--primary);
}

#index_case .row-inline .second-row {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-flex: 0;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
    justify-content:right;
    width:95vw;
}

#index_case .row-inline .second-row > .row {
    margin-left: 5px;
    margin-right: 5px;
}

/*PAGE CREATE CASE */

#create_case .text-right {
    margin-right: 25px;
}

#create_case .text-left {
    margin-left: 25px;
}

/* PAGE CASE SHOW */
#show-cases .video-card {
    margin-top: -6em;
}

#show-cases .col .btn-outline-info:hover {
    color: var(--info) !important;
}

#show-cases .col .btn-outline-success:hover {
    color: var(--success) !important;
}

#show-cases .text-primary {
    margin-top:50px;
}

#show-cases h3 {
    width:100%;
    margin-top:100px;
    text-decoration: underline;
}

#show-cases .btn-outline-primary {
    color: white;
}

#show-cases .btn-outline-primary:hover {
    color: var(--primary);
}


#show-cases-tricolor-show{
    margin-bottom: -85px;
}

#show-cases-renta-light{
    width: 50%;
}



/* PAGE CONNEXION REGISTRATION NEW */



#registration_new .container {
    margin-top: 100px;
    margin-bottom: -47px;
}

/*  PAGE INDEX USER */

#index_user .bg {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
}

#index_user .mylink:hover {
    text-decoration: none !important;
}

#index_user .card-header {
    background-color: var(--dark);
    margin: -1px
}

#index_user .margin-card-header {
    margin-top: 10px;
    color: white;
}

#index_user .btn-outline-danger:hover {
    color: var(--danger);
}

#index_user .margin-card-body {
    margin-top: 10px;
}

#index_user .margin-status {
    margin-top: 20px;
}

#index_user .margin-confirmed {
    margin-top: 10px;
}

#index_user .message {
    margin-bottom: 20px;
}

/* PAGE EDIT ROOMS */

#edit_rooms .bg {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
}

#edit_rooms .card {
    background-image: url(https://casper.imgix.net/assets/products_new/2020-Gallery-Images/Gallery/Original-Foam-Gallery-3.jpg?auto=compress,format&q=65&w=1200);
    border-radius: 10px;
    background-size: cover;
    margin: 0 auto; 
    float: none; 
    margin-bottom: 10px;
    margin-top: -50px; 
}

#edit_rooms .card-header {
    background-color: var(--dark);
    margin: -1px;
    border-radius: 10px;
}

#edit_rooms p {
    margin-top: -10px;
    margin-bottom: -8px;
}

#edit_rooms h1 {
    font-size: 20px;
    color: white;
}

#edit_rooms h2 {
    font-size: 15px;
}

#edit_rooms .background {
    width:120px;
    height:18px;
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
    margin-bottom: -1px;
}

/* ERROR MESSAGES EDIT USER */

/* GOOGLE MAP */
#map {
  min-height: 400px;
  width: 100%;
}



/* RESPONSIVE */

@media only screen and (min-width: 1024px) {
    #registration_new > section {
        padding-bottom: 109px;
        margin-top: -179px;
    } 

    #registration_new .custom-control {
        padding-top: 30px;
        padding-right: 500px;
    }

    #sessions_new .main-part-center-home {
        display:flex;
        justify-content:space-evenly;
        align-items:center;
    }
    
    #sessions_new .main-part-center-home .title-home-page {
        font-size:40px;
        color:white;
    }
    
    #sessions_new .main-part-center-home .p-text-home-page {
        color:white;
    }

    #sessions_new > section {
        padding-bottom:153px;
        margin-top: -50px;
    } 

    /* Navbar on PC view */
    #menuToggle .checkbox-phone-view {
        display:none;
    }

    #menuToggle > span {
        display:none;
    }

    #navbar img{
        width: 70%;
        border-radius: 5px;
        height: 38px;
    }
    
    #navbar #menu {
        display:flex;
        justify-content: space-between;
        width:100%;
    }

    #navbar #menu .first-row {
        display:flex;
    }

    #navbar #menu .second-row .dropdown-menu {
        left:-150px;
    }

}

@media only screen and (max-width: 1024px) {
    #sessions_new > section {
        padding-top:20px;
        padding-bottom:20px;
    }

    #show-cases .text-primary {
        margin-top:15px;
    }

    .navbar-light #menuToggle span { /* Navbar on phone view */
        background:var(--primary);
    }

    #menuToggle 
    {
    display: block;
    position: relative;
    top: 10px;
    z-index: 1;
    
    -webkit-user-select: none;
    user-select: none;
    }

    #menuToggle a
    {
    text-decoration: none;
    color: #232323;
    text-align:center;
    
    transition: color 0.3s ease;
    }

    #menuToggle a:hover
    {
    color: var(--primary);
    }

    #menuToggle > ul > a:first-of-type {
        position:absolute;
        top:55px;
        right:10px;
    }


    #menuToggle input
    {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    
    cursor: pointer;
    
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
    
    -webkit-touch-callout: none;
    }

    /*
    * Just a quick hamburger
    */
    #menuToggle span
    {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    
    background: #cdcdcd;
    border-radius: 3px;
    
    z-index: 1;
    
    transform-origin: 4px 0px;
    
    transition: all 0.55s ease;
    }

    #menuToggle span:first-child
    {
    transform-origin: 0% 0%;
    }

    #menuToggle span:nth-last-child(2)
    {
    transform-origin: 0% 100%;
    }

    /* 
    * Transform all the slices of hamburger
    * into a crossmark.
    */
    #menuToggle input:checked ~ span
    {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
    }

    /*
    * But let's hide the middle one.
    */
    #menuToggle input:checked ~ span:nth-last-child(3)
    {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
    }

    /*
    * Ohyeah and the last one should go the other direction
    */
    #menuToggle input:checked ~ span:nth-last-child(2)
    {
    transform: rotate(-45deg) translate(0, -1px);
    }

    /*
    * Make this absolute positioned
    * at the top left of the screen
    */
    #menu
    {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }

    #menu li
    {
    padding: 10px 0;
    font-size: 22px;
    }

    /*
    * And let's slide it in from the left
    */
    #menuToggle input:checked ~ ul
    {
    transform: none;
    padding-right:20px;
    }

    /* INDEX CASE */

    #index_case .row-inline .second-row {
        max-width: 100%;
        flex: 0 0 100%;
        justify-content: center;
    }

    #index_case .card {
        width:95vw !important;
    }

    #index_case .row-inline .first-row {
        margin-left:20px;
    }

    /* CREATE CASE */

    #create_case .text-right {
        text-align:center !important;
        margin:0;
    }

    #create_case .text-left {
        text-align:center !important;
        margin:0;
        margin-bottom:20px;
    }

    /* SHOW CASE */

    #show-cases #show-cases-tricolor-show #show-cases-renta-light img {
        width:12% !important;
    }

    #show-cases .section .container > .row {
        padding-left:10px;
        text-align:center;
        flex-direction:column;
    }

    #show-cases .section .container > .row .col {
        margin:0 !important;
        margin-bottom:20px !important;
    }

    #show-cases .section .container > .row .col a {
        margin-left:0 !important;
    }

    /* SHOW USER */

    #user_show .card {
        width:95vw;
        margin-left:auto;
        margin-right:auto;
    }

    /* EDIT USER */

    #edit {
        padding-right:0;
        padding-left:0;
    }

    #edit .card {
        width:100% !important;
    }
}