/* NAVBAR */

#navbar img{
    width: 70%;
    border-radius: 5px;
    height: 38px;
}

#navbar .collapse {
    margin-right: 180px;
}

#navbar .margin-nav-items {
    margin-left: 250px;
}

#navbar .dropdown {
    margin-left: 200px;
}



/* FOOTER si existant */




/* STYLE BOUTON */



/* PAGE CONNEXION SESSION NEW */

#sessions_new {
    background-color:var(--gray-dark);
}

#session_new .card-body .text-muted {
    margin-bottom: -50px;
}

#boxid {
    margin-top: 15px;
}

#sessions_new .btn-checkbox-login {
    margin-top:15px;
}

#sessions_new .main-part-center-home .title-home-page {
    font-size:40px;
    color:white;
}

#sessions_new .container-fluid {
    margin-bottom: 17px;
}

#sessions_new .main-part-center-home .p-text-home-page {
    color:white;
    margin-bottom:50px;
}

#session_new .bg {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
}

@media only screen and (min-width: 1024px) {
    #sessions_new .main-part-center-home {
        display:flex;
        justify-content:space-evenly;
        align-items:center;
    }
    
    #sessions_new .main-part-center-home .title-home-page {
        font-size:40px;
        color:white;
    }
    
    #sessions_new .main-part-center-home .p-text-home-page {
        color:white;
    }

    #sessions_new > section {
        padding-bottom:153px;
        margin-top: -50px;
    } 
}


/* PAGE PROFIL USERS SHOW */

#user_show .container  {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 17em;
}


#user_show .card {
    margin-top: -70px;
    background-size: cover;
    background-color: whitesmoke;
    margin-right: 40px;
    width: 50rem;
}

#user_show .list-group {
    margin-top: -25px;
}

#user_show .col-md-1 {
    padding-bottom: 20px;
}

#user_show .card-header {
    height: 100px;
    background-color: var(--dark);
    margin: -1px;
    color: white;
}

#user_show .card-title {
    margin-top: 20px;
    color: white;
}

#user_show .list-group {
    margin-top: 15px;
}

#user_show .custom {
    margin-top: 8em;
    position: relative;
}

#user_show .cards-usercases-admin {
    margin-left: 12%; 
    margin-right: 10%; 
    display: flex; 
    flex-wrap: wrap;
}

/* PAGE EDIT REGISTRATION EDIT */

#edit .container {
    margin-top: -60px;
}

#edit .card {
    background-color: white;
}

#edit .align-center {
    align-content: center ;  
}


#edit {
    padding-right: 120px;
    padding-top: 200px;
}

#edit .padding-back-button {
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 5px;
}

#edit .padding-edit-button {
    padding-top: 15px;
}

#edit .padding-title {
    margin-bottom: -30px;
}

#edit .bg {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
}

/* PAGE FORGOT PASSWORD EMAIL SENDER */

#forgot_password_email .card {
    background-color: white;
}

#forgot_password_email .container {
    margin-top: 285px;
    margin-right: 250px;
    margin-left: 450px;
}

#forgot_password_email .margin-title {
    margin-bottom: -30px;
}

#forgot_password_email .margin-email {
    margin-top: -30px;
}

#forgot_password_email .margin-button {
    padding-top: 9px;
}

#forgot_password_email .padding-back-button {
    padding-left: 56px;
    padding-bottom: 10px;
}

#forgot_password_email .container {
    padding-left: 50px;
}

#forgot_password .padding-button {
    padding-top: 10px;
}

#forgot_password .padding-button-back {
    padding-left: 415px;
}

#forgot_password .card {
    background-color: white;
}

#forgot_password .container {
    padding-top: 180px;
}

#forgot_password h3 {
    padding-top: 30px;
}

/* PAGE CASE INDEX */

#index_case .bg {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
}

#index_case .card {
    background-color: whitesmoke;
}

#index_case .empty-index {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

#index_case .empty {
    font-size: 15px;
    margin-bottom: 20px;
}

#index_case .muted-title {
    margin-bottom: -50px;
    margin-top: -50px;
    font-size: 15px;
}


#index_case .margin {
    margin-top: 10px;
    font-size: 14px;
}

#index_case .col-md-1 {
    margin-top: 10px;
    margin-right: 10px;
}


#index_case .btn {
    width: 100%;
}

#index_case .card-header-full {
    height: 10px;
    margin-top: -20px;
    font-size: 11px; 
    background-color: var(--dark); 
    color: white
}

#index_case .card-header-empty {
    height: 10px;
    margin-top: -20px;
    font-size: 11px; 
    background-color: var(--dark); 
    color: white
}

#index_case h1 {
    margin-top: -50px;
    margin-bottom: 50px;

}

#index_case hr.margin-title {
    margin-top: -50px;
    margin-bottom: 50px;
    background-color: var(--primary);
    width: 20%;
}

#index_case #muted {
    margin-bottom: -20px;
    font-size: 10px;
}

#index_case .picture {
    height: 5%;
}

#index_case .size {
    font-size: 8px;
}

#index_case .card-top-margin {
    padding-top: 4px;
    padding-bottom: 20px;
}

#index_case .btn-outline-primary:hover {
    background-color: var(--primary);
    color: white;
}

#index_case .btn-outline-secondary:hover {
    background-color: var(--secondary);
    color: white ;
}

#index_case .btn-outline-secondary {
    color: var(--dark);
}

#index_case .btn-outline-danger:hover {
    background-color: var(--danger);
    color: white;
}

/*PAGE CREATE CASE */

#create_case .text-right {
    margin-right: 25px;
}

#create_case .text-left {
    margin-left: 25px;
}

/* PAGE CASE SHOW */
#show-cases .video-card {
    margin-top: -6em;
}

#show-cases .col .btn-outline-info:hover {
    color: var(--info) !important;
}

#show-cases .col .btn-outline-success:hover {
    color: var(--success) !important;
}

#show-cases .text-primary {
    margin-top:50px;
}

#show-cases h3 {
    width:100%;
    margin-top:100px;
    text-decoration: underline;
}

#show-cases .btn-outline-primary {
    color: white;
}

#show-cases .btn-outline-primary:hover {
    color: var(--primary);
}


@media only screen and (max-width: 1024px) {
    #sessions_new > section {
        padding-top:20px;
        padding-bottom:20px;
    }

    #show-cases .text-primary {
        margin-top:15px;
    }
}

/* PAGE CONNEXION REGISTRATION NEW */

@media only screen and (min-width: 1024px) {
    #registration_new > section {
        padding-bottom: 109px;
        margin-top: -179px;
    } 

    #registration_new .custom-control {
        padding-top: 30px;
        padding-right: 500px;
    }

}

#registration_new .container {
    margin-top: 100px;
    margin-bottom: -47px;
}

/*  PAGE INDEX USER */

#index_user .bg {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
}

#index_user .mylink:hover {
    text-decoration: none !important;
}

#index_user .card-header {
    background-color: var(--dark);
    margin: -1px
}

#index_user .margin-card-header {
    margin-top: 10px;
    color: white;
}

#index_user .btn-outline-danger:hover {
    color: var(--danger);
}

#index_user .margin-card-body {
    margin-top: 10px;
}

#index_user .margin-status {
    margin-top: 20px;
}

#index_user .margin-confirmed {
    margin-top: 10px;
}

#index_user .message {
    margin-bottom: 20px;
}

/* PAGE EDIT ROOMS */

#edit_rooms .bg {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
}

#edit_rooms .card {
    background-image: url(https://casper.imgix.net/assets/products_new/2020-Gallery-Images/Gallery/Original-Foam-Gallery-3.jpg?auto=compress,format&q=65&w=1200);
    border-radius: 10px;
    background-size: cover;
    margin: 0 auto; 
    float: none; 
    margin-bottom: 10px;
    margin-top: -50px; 
}

#edit_rooms .card-header {
    background-color: var(--dark);
    margin: -1px;
    border-radius: 10px;
}

#edit_rooms p {
    margin-top: -10px;
    margin-bottom: -8px;
}

#edit_rooms h1 {
    font-size: 20px;
    color: white;
}

#edit_rooms h2 {
    font-size: 15px;
}

#edit_rooms .background {
    width:120px;
    height:18px;
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
    margin-bottom: -1px;
}

/* ERROR MESSAGES EDIT USER */




