<div>
  <% flash.each do |type, msg| %>
    <div>
      <%= msg %>
    </div>
  <% end %>

  <% if current_user %>
    <p>Vous êtes connectés</p>
  <%else%>
    <p> Vous n'êtes pas connecté<p>
  <%end%>

</div>